<a href="https://colab.research.google.com/github/Sockcave/GGWP/blob/main/chat_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

References
Dataset: https://www.kaggle.com/romovpa/gosuai-dota-2-game-chats
Description:
Feature statistics/distributions, (0-4, 5-9) corresponds to Radiant Team / Dire Team
Potential Ideas:
Development of bot to outperform the following: https://www.reddit.com/r/DotA2/comments/7xs8q6/how_we_trained_dota_2_chat_simulator_why_he_is_so/
Recurrent NNs used to generate answers to questions in a manner similar to gamers
Analysis of in-game chat with applications similar to that of analysis on eSports viewers: https://arxiv.org/pdf/1801.02862.pdf
Structural Topic Modelling?
Cross-correlation and statistical methods to identify temporal and topical patterns

In [ ]:
# a = []
# while(1):
#     a.append('1')

In [ ]:
pip install boto3

Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (1.16.1)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3) (0.3.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3) (0.10.0)
Requirement already satisfied: botocore<1.20.0,>=1.19.1 in /usr/local/lib/python3.6/dist-packages (from boto3) (1.19.1)
Requirement already satisfied: urllib3<1.26,>=1.25.4; python_version != "3.4" in /usr/local/lib/python3.6/dist-packages (from botocore<1.20.0,>=1.19.1->boto3) (1.25.11)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.20.0,>=1.19.1->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.20.0,>=1.19.1->boto3) (1.15.0)

In [ ]:
pip install fasttext

Requirement already satisfied: fasttext in /usr/local/lib/python3.6/dist-packages (0.9.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from fasttext) (1.18.5)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.6/dist-packages (from fasttext) (2.6.0)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from fasttext) (50.3.0)

In [ ]:
pip install stop-words

Requirement already satisfied: stop-words in /usr/local/lib/python3.6/dist-packages (2018.7.23)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import fasttext

In [ ]:
# Loading data into Colab via AWS  https://medium.com/python-in-plain-english/how-to-load-data-from-aws-s3-into-google-colab-7e76fbf534d2
import boto3

BUCKET_NAME = 'ggwp-project' 

# Authentication credentials
s3 = boto3.resource('s3', aws_access_key_id = 'AKIAJ52OAEJJXOEMTRVA', 
                          aws_secret_access_key= '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')
KEY = 'dota2_chat_messages.csv' 

try:
  # Downloading training dataset from s3 with name `dota2_chat_messages.csv` 
  # to colab dir as `dota2_chat_messages.csv`
  s3.Bucket(BUCKET_NAME).download_file(KEY, 'dota2_chat_messages.csv')
  
except botocore.exceptions.ClientError as e:
  if e.response['Error']['Code'] == "404":
    print("The object does not exist.")
  else:
    raise

In [ ]:
data = pd.read_csv('dota2_chat_messages.csv')
data.head()

   match        time  slot            text
0      0  1005.12122     9       ладно гг
1      0  1005.85442     9             изи
2      0  1008.65372     9              од
3      0  1010.51992     9          ебаный
4      0  1013.91912     9  мусор на войде

In [ ]:
data.shape

(21659448, 4)

In [ ]:
data.isnull()

          match   time   slot   text
0         False  False  False  False
1         False  False  False  False
2         False  False  False  False
3         False  False  False  False
4         False  False  False  False
...         ...    ...    ...    ...
21659443  False  False  False  False
21659444  False  False  False  False
21659445  False  False  False  False
21659446  False  False  False  False
21659447  False  False  False  False

[21659448 rows x 4 columns]

In [ ]:
data[data['text'].isnull()] # finding all the null values

           match        time  slot text
98923       4563  2072.14832     3  NaN
123422      5701   273.46660     4  NaN
170328      7825    98.50927     6  NaN
236936     10883  2041.06743     8  NaN
836008     38459  2665.32936     6  NaN
...          ...         ...   ...  ...
21183137  977763  1738.97554     8  NaN
21222778  979628  3449.72544     6  NaN
21364571  986367  3028.63448     2  NaN
21368361  986515  2421.75342     1  NaN
21628895  998585  1457.24416     1  NaN

[240 rows x 4 columns]

In [ ]:
21659448  - 240 #expected number of rows

21659208

In [ ]:
data = data.dropna() #dropping those 240 null values
data.shape

(21659208, 4)

**Language detection implementation using FastText**

In [ ]:
!wget https://dl.fbaipublicfiles.com/fasttext/supervised-models/lid.176.bin
model = fasttext.load_model("lid.176.bin")

--2020-10-21 21:18:48--  https://dl.fbaipublicfiles.com/fasttext/supervised-models/lid.176.bin
Resolving dl.fbaipublicfiles.com (dl.fbaipublicfiles.com)... 104.22.75.142, 104.22.74.142, 172.67.9.4, ...
Connecting to dl.fbaipublicfiles.com (dl.fbaipublicfiles.com)|104.22.75.142|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 131266198 (125M) [application/octet-stream]
Saving to: ‘lid.176.bin.5’

lid.176.bin.5       100%[===================>] 125.18M  23.2MB/s    in 6.0s

2020-10-21 21:18:54 (21.0 MB/s) - ‘lid.176.bin.5’ saved [131266198/131266198]

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [ ]:
sentences = ['je mange de la nourriture']
predictions = model.predict(sentences)
print(predictions) #french label returned with 96.56% confidence

([['__label__fr']], [array([0.96568173], dtype=float32)])

In [ ]:
print(predictions[0][0][0][-2:]) #getting the label

fr

In [ ]:
batch_indices = np.round(np.linspace(0, len(data), 20)).astype(int)
batch_indices

array([       0,  1139958,  2279917,  3419875,  4559833,  5699792,
        6839750,  7979708,  9119667, 10259625, 11399583, 12539541,
       13679500, 14819458, 15959416, 17099375, 18239333, 19379291,
       20519250, 21659208])

In [ ]:
batches = {}

In [ ]:
keyList = ["b0", "b1", "b2", "b3", "b4", "b5", "b6", "b7", "b8", "b9", "b10", "b11", "b12", "b13", "b14"
, "b15", "b16", "b17", "b18"]  #Key list

In [ ]:
for i in keyList: 
    batches[i] = None
print(batches)

{'b0': None, 'b1': None, 'b2': None, 'b3': None, 'b4': None, 'b5': None, 'b6': None, 'b7': None, 'b8': None, 'b9': None, 'b10': None, 'b11': None, 'b12': None, 'b13': None, 'b14': None, 'b15': None, 'b16': None, 'b17': None, 'b18': None}

In [ ]:
for i in range(len(batch_indices)+1):
  if i == 19:
    break
  b = data.iloc[batch_indices[i]: batch_indices[i+1]]
  batches['b'+str(i)] = b
  print(b)

         match        time  slot               text
0            0  1005.12122     9          ладно гг
1            0  1005.85442     9                изи
2            0  1008.65372     9                 од
3            0  1010.51992     9             ебаный
4            0  1013.91912     9     мусор на войде
...        ...         ...   ...                ...
1139962  52479  2863.87196     7  يلعن رب بزاز امك
1139963  52480   872.84598     6          go v tron
1139964  52480   877.04488     2                так
1139965  52480   878.51128     2           не дефай
1139966  52480   879.57768     2              тогда

[1139958 rows x 4 columns]
          match        time  slot           text
1139967   52480   883.57668     6             ok
1139968   52480   954.52598     8         ff pzl
1139969   52480  1021.84288     2          0 0 0
1139970   52480  1022.90928     2           ))))
1139971   52480  1030.77408     3           GEGE
...         ...         ...   ...            ...
2279935  104819  1961.30744     4  вот и красава
2279936  104819  1962.51154     9             ))
2279937  104820   349.18140     0            wow
2279938  104820   355.71317     0            yea
2279939  104820   362.71146     8              )

[1139959 rows x 4 columns]
          match        time  slot                           text
2279940  104820   366.77713     8                             sk
2279941  104821   416.83157     7                        ez ursa
2279942  104821   473.21780     7            commens ursa pasivo
2279943  104821  1977.22424     9                          uirsa
2279944  104821  2041.50994     4  LINKEND DOESNT BLOCK ABYSSAL?
...         ...         ...   ...                            ...
3419909  157303  1336.50695     0                     kappachino
3419910  157303  1346.43785     7                         1 by 1
3419911  157303  1350.77015     7                        tactics
3419912  157303  1422.55265     7             that reaction time
3419913  157303  1427.21815     7  is slower than my grandmother

[1139958 rows x 4 columns]
          match        time  slot                text
3419914  157303  2444.55195     7                 4 x
3419915  157303  2505.62665     4  ахахахахахахахахах
3419916  157303  2507.56665     4               хуета
3419917  157303  2508.70365     4              ебаная
3419918  157303  2509.43965     4                сука
...         ...         ...   ...                 ...
4559876  209617  1955.94453     2  i destroyed ur mid
4559877  209617  1961.02853     9              ez mid
4559878  209617  1993.20473     2                dead
4559879  209617  1998.28873     2          2 hits lol
4559880  209617  2003.30583     9              ez mid

[1139958 rows x 4 columns]
          match        time  slot                 text
4559881  209617  2385.13983     5                gg wp
4559882  209617  2390.69203     3                 ggwp
4559883  209617  2393.10023     1     its like 4v5 tho
4559884  209617  2417.11543     2                   gg
4559885  209617  2447.08413     8                   gg
...         ...         ...   ...                  ...
5699849  262389  2667.74300     1  изи дауны в команде
5699850  262389  2668.27810     7                тяжко
5699851  262390   117.07141     7         guys púls w8
5699852  262390   119.27088     7               30 sec
5699853  262390   125.23609     3                   no

[1139959 rows x 4 columns]
          match        time  slot                text
5699854  262390   131.66786     9  spider reported :)
5699855  262390  1154.28486     6                  gg
5699856  262390  2173.53516     1                   x
5699857  262390  2176.21086     1                   d
5699858  262390  2348.79876     9   pleas report ench
...         ...         ...   ...                 ...
6839824  314933  1914.14475     9                 ммм
6839825  314933  1917.02135     9            приятноо
6839826  314933  1917.62335     3              да все
6839827  314933  1918.82735     9                пудж
6839828  314933  1919.49635     3            Соси хуй

[1139958 rows x 4 columns]
          match        time  slot            text
6839829  314933  1920.76735     3          заебал
6839830  314933  1924.31275     3   я днай сделал
6839831  314933  1926.05195     3           ок да
6839832  314933  1932.13935     9        оа  дааа
6839833  314933  1933.81175     9           делай
...         ...         ...   ...             ...
7979795  367536  1786.99946     7  juggle kid not
7979796  367536  1795.42816     5            HEHE
7979797  367536  1809.81046     8   Report timber
7979798  367536  1838.10686     2             kid
7979799  367536  1873.42716     3              ?

[1139958 rows x 4 columns]
          match        time  slot                  text
7979800  367536  1876.43736     3  не убить что ли?)))
7979801  367536  1879.71516     8         Report timber
7979802  367536  1879.84906     1                 izi ?
7979803  367536  1886.13716     7        for kid juggle
7979804  367536  1889.61566     7                jugger
...         ...         ...   ...                   ...
9119767  420028    61.77907     0                    гг
9119768  420028   116.16580     0          репорт дазлу
9119769  420028   300.38747     0        игра проиграна
9119770  420028   305.98611     0           из за дазла
9119771  420028   484.80917     1           CERFFFFFFFF

[1139959 rows x 4 columns]
           match        time  slot              text
9119772   420028   490.14117     1     БЛЯТСКИЙ ПИНГ
9119773   420028  1658.75577     5             найСЪ
9119774   420028  1711.74287     1          ЕЕЕЕЕЕЕЕ
9119775   420028  2638.68807     1                ГГ
9119776   420028  2678.02207     2       стойте суки
...          ...         ...   ...               ...
10259735  472872  1779.73033     2                gg
10259736  472872  1783.94473     6       report doon
10259737  472872  1785.01503     6                 m
10259738  472873    78.85018     4     РЕПОРТ  ИНВОК
10259739  472873   519.62908     4  репорт ивокер сф

[1139958 rows x 4 columns]
           match        time  slot                         text
10259740  472873   527.22724     4                   2 хуеплета
10259741  472873   651.99674     4               сука конченный
10259742  472873   828.88689     4             все репорт инвок
10259743  472873   942.92574     4               гг тима днарей
10259744  472873   948.32434     9               ДА ИДИ НА ХЗУЙ
...          ...         ...   ...                          ...
11399708  525846   336.88443     5      sk mid need help from u
11399709  525846   537.76873     7               is it hurt sk?
11399710  525846   542.10099     7                            
11399711  525846   940.00383     7  damn double ult for 10hp :(
11399712  525846  1047.94413     3                         wait

[1139958 rows x 4 columns]
           match        time  slot                                       text
11399713  525846  1047.94413     7                                   ragequit
11399714  525846  1259.12593     5  i promise always solo chrono on you necro
11399715  525846  1259.12593     8                         thats archon logic
11399716  525846  1259.12593     5                                 i m archon
11399717  525846  1259.12593     5                              play with you
...          ...         ...   ...                                        ...
12539684  578838   207.98260     0                                          ?
12539685  578838   221.51260     9                                WHAT HAPPEN
12539686  578838   618.84890     2                                  wait guys
12539687  578838   618.84890     2                                    2 mins
12539688  578838   618.84890     9                                        LOL

[1139958 rows x 4 columns]
           match        time  slot                    text
12539689  578838   655.27336     2           he restart pc
12539690  578838   656.67300     2                he said
12539691  578838   657.60610     2                    wait
12539692  578838   666.03740     0                     fuc
12539693  578838   666.03740     5                       ?
...          ...         ...   ...                     ...
13679659  631830  1997.61437     5  ganas sial tinker nioe
13679660  631830  2004.30387     8                  tu psl
13679661  631830  2005.84247     7              yea hahaha
13679662  631830  2006.57827     8             ganas habis
13679663  631830  2008.51827     5                    haha

[1139959 rows x 4 columns]
           match        time  slot                        text
13679664  631830  2011.59537     1                      ez win
13679665  631830  2012.33117     1                      hahaha
13679666  631830  2015.67597     1                         END
13679667  631830  2029.52307     5  gyro paling acah dan kecoh
13679668  631830  2055.21067     8                          ty
...          ...         ...   ...                         ...
14819635  684247  2479.92372     2                      hahaha
14819636  684247  2484.33882     0                 hahah short
14819637  684247  2485.67662     2               nce crono but
14819638  684247  2486.01112     9                         nvm
14819639  684247  2488.08492     2                    hahahaha

[1139958 rows x 4 columns]
           match        time  slot             text
14819640  684247  2491.22892     8             lol
14819641  684247  2501.66442     2       crazy lion
14819642  684247  2504.60782     9  cant believe it
14819643  684247  2507.41732     2            hahha
14819644  684247  2522.26802     8               xD
...          ...         ...   ...              ...
15959602  736671  2308.47450     9               ez
15959603  736671  2311.68550     1               gg
15959604  736671  2312.68890     9        recomend
15959605  736671  2315.09710     3               gg
15959606  736672   298.19388     4  get cancer bane

[1139958 rows x 4 columns]
           match        time  slot          text
15959607  736672  1540.62383     0      nice man
15959608  736672  1541.89013     0      smurfing
15959609  736672  1661.26103     0    u dead sir
15959610  736672  1662.86063     0  stupid smurf
15959611  736672  2045.99483     0         srsly
...          ...         ...   ...           ...
17099567  788834   336.08464     5             K
17099568  788834   337.08440     5        +P)KLH
17099569  788834   605.58550     5            uu
17099570  788834   607.58500     5            гг
17099571  788834   609.71780     5           афк

[1139959 rows x 4 columns]
           match        time  slot                                   text
17099572  788834   754.48250     6            ИДИТЕ НА ХУЙ СО СВОЕЙ ДОТОЙ
17099573  788834   761.01420     6  С 1-054232345623462346 ГЕРОЕВ НА ТОПЕ
17099574  788834   768.21240     6                  ВСТАЛИ И НА ХУЙ ПОШЛИ
17099575  788834   778.67660     6                 БЛЯДЬ, СЕЙЧАС ЖЕ НАХУЙ
17099576  788834   787.07450     6                               ЗАМАНАЛИ
...          ...         ...   ...                                    ...
18239535  841907  3240.37547     9                               изи свен
18239536  841907  3241.64647     2                             ебать даун
18239537  841907  3245.25867     2                            репорт свен
18239538  841907  3250.17547     0                                внатуре
18239539  841907  3250.30927     9                                    изи

[1139958 rows x 4 columns]
           match        time  slot        text
18239540  841907  3253.05187     9  потно в лп
18239541  841908  1074.13770     2         end
18239542  841908  1300.08260     2      ez rax
18239543  841908  2618.22620     3          gg
18239544  841908  2667.46060     5       gg wp
...          ...         ...   ...         ...
19379502  894551  2570.87604     6        Ggwp
19379503  894551  2576.49524     8           )
19379504  894552  1825.51550     5          wp
19379505  894552  2043.12330     1   }push end
19379506  894552  2049.47830     1  heart naix

[1139958 rows x 4 columns]
           match       time  slot                             text
19379507  894552  2129.8186     1  low shit tier timber weaver end
19379508  894552  2147.2112     1              6% spell amp timber
19379509  894552  2152.8972     1                       100 damage
19379510  894552  2155.9745     1                           15 str
19379511  894552  2163.3328     1    every thing he doing is right
...          ...        ...   ...                              ...
20519475  947473  3358.9189     6                             zZZZ
20519476  947473  3373.3012     4                                )
20519477  947473  3388.4863     7                             8/13
20519478  947473  3389.8910     7                             5/14
20519479  947473  3391.5968     7                             lmao

[1139959 rows x 4 columns]
           match        time  slot              text
20519480  947473  3393.77090     6        here comes
20519481  947473  3395.64400     6    the statswhore
20519482  947473  3396.91490     6           useless
20519483  947473  3397.45010     6               :DD
20519484  947473  3397.65080     8  fuck you bristle
...          ...         ...   ...               ...
21659443  999999   584.41162     2                 ?
21659444  999999   974.04976     0        sec please
21659445  999999  1708.53706     5                 ?
21659446  999999  2674.38856     3          ggwp lol
21659447  999999  2831.95866     9                ez

[1139958 rows x 4 columns]

In [ ]:
#Getting rid of any newline characters
for b in batches:
  batches[str(b)] = batches[str(b)][~batches[str(b)]['text'].str.contains('\n')]

In [ ]:
#extracting the language codes for the first batch. Apply to next 17 batches 
def extract_lang():
  for b in batches:
    lang_code = []
    lang0 = batches[str(b)]['text'].apply(model.predict)
    for i in lang0.index:
      lang_code.append(lang0[i][0][0][-2:])
    batches[str(b)]['lang'] = lang_code
extract_lang()
print(batches)

{'b0':          match        time  slot               text lang
0            0  1005.12122     9          ладно гг    ru
1            0  1005.85442     9                изи   bg
2            0  1008.65372     9                 од   mk
3            0  1010.51992     9             ебаный   ru
4            0  1013.91912     9     мусор на войде   bg
...        ...         ...   ...                ...  ...
1139962  52479  2863.87196     7  يلعن رب بزاز امك    ar
1139963  52480   872.84598     6          go v tron   fr
1139964  52480   877.04488     2                так   ru
1139965  52480   878.51128     2           не дефай   ru
1139966  52480   879.57768     2              тогда   ru

[1139958 rows x 5 columns], 'b1':           match        time  slot           text lang
1139967   52480   883.57668     6             ok   en
1139968   52480   954.52598     8         ff pzl   en
1139969   52480  1021.84288     2          0 0 0   en
1139970   52480  1022.90928     2           ))))   es
1139971   52480  1030.77408     3           GEGE   de
...         ...         ...   ...            ...  ...
2279935  104819  1961.30744     4  вот и красава   ru
2279936  104819  1962.51154     9             ))   es
2279937  104820   349.18140     0            wow   eb
2279938  104820   355.71317     0            yea   en
2279939  104820   362.71146     8              )   es

[1139959 rows x 5 columns], 'b2':           match        time  slot                           text lang
2279940  104820   366.77713     8                             sk   de
2279941  104821   416.83157     7                        ez ursa   hu
2279942  104821   473.21780     7            commens ursa pasivo   it
2279943  104821  1977.22424     9                          uirsa   nl
2279944  104821  2041.50994     4  LINKEND DOESNT BLOCK ABYSSAL?   ja
...         ...         ...   ...                            ...  ...
3419909  157303  1336.50695     0                     kappachino   fi
3419910  157303  1346.43785     7                         1 by 1   en
3419911  157303  1350.77015     7                        tactics   en
3419912  157303  1422.55265     7             that reaction time   en
3419913  157303  1427.21815     7  is slower than my grandmother   en

[1139958 rows x 5 columns], 'b3':           match        time  slot                text lang
3419914  157303  2444.55195     7                 4 x   de
3419915  157303  2505.62665     4  ахахахахахахахахах   my
3419916  157303  2507.56665     4               хуета   bg
3419917  157303  2508.70365     4              ебаная   ru
3419918  157303  2509.43965     4                сука   ru
...         ...         ...   ...                 ...  ...
4559876  209617  1955.94453     2  i destroyed ur mid   en
4559877  209617  1961.02853     9              ez mid   hu
4559878  209617  1993.20473     2                dead   it
4559879  209617  1998.28873     2          2 hits lol   en
4559880  209617  2003.30583     9              ez mid   hu

[1139958 rows x 5 columns], 'b4':           match        time  slot                 text lang
4559881  209617  2385.13983     5                gg wp   en
4559882  209617  2390.69203     3                 ggwp   en
4559883  209617  2393.10023     1     its like 4v5 tho   en
4559884  209617  2417.11543     2                   gg   ru
4559885  209617  2447.08413     8                   gg   ru
...         ...         ...   ...                  ...  ...
5699849  262389  2667.74300     1  изи дауны в команде   ru
5699850  262389  2668.27810     7                тяжко   uk
5699851  262390   117.07141     7         guys púls w8   hu
5699852  262390   119.27088     7               30 sec   en
5699853  262390   125.23609     3                   no   pt

[1139959 rows x 5 columns], 'b5':           match        time  slot                text lang
5699854  262390   131.66786     9  spider reported :)   en
5699855  262390  1154.28486     6                  gg   ru
5699856  262390  2173.53516     1                   x   en
5699857  262390  2176.21086     1                   d   fr
5699858  262390  2348.79876     9   pleas report ench   en
...         ...         ...   ...                 ...  ...
6839824  314933  1914.14475     9                 ммм   ru
6839825  314933  1917.02135     9            приятноо   mn
6839826  314933  1917.62335     3              да все   ru
6839827  314933  1918.82735     9                пудж   ru
6839828  314933  1919.49635     3            Соси хуй   ru

[1139958 rows x 5 columns], 'b6':           match        time  slot            text lang
6839829  314933  1920.76735     3          заебал   bg
6839830  314933  1924.31275     3   я днай сделал   ru
6839831  314933  1926.05195     3           ок да   bg
6839832  314933  1932.13935     9        оа  дааа   mn
6839833  314933  1933.81175     9           делай   ru
...         ...         ...   ...             ...  ...
7979795  367536  1786.99946     7  juggle kid not   en
7979796  367536  1795.42816     5            HEHE   de
7979797  367536  1809.81046     8   Report timber   en
7979798  367536  1838.10686     2             kid   ca
7979799  367536  1873.42716     3              ?    fr

[1139958 rows x 5 columns], 'b7':           match        time  slot                  text lang
7979800  367536  1876.43736     3  не убить что ли?)))    ru
7979801  367536  1879.71516     8         Report timber   en
7979802  367536  1879.84906     1                 izi ?   tr
7979803  367536  1886.13716     7        for kid juggle   en
7979804  367536  1889.61566     7                jugger   it
...         ...         ...   ...                   ...  ...
9119767  420028    61.77907     0                    гг   ru
9119768  420028   116.16580     0          репорт дазлу   ru
9119769  420028   300.38747     0        игра проиграна   ru
9119770  420028   305.98611     0           из за дазла   ru
9119771  420028   484.80917     1           CERFFFFFFFF   ru

[1139959 rows x 5 columns], 'b8':            match        time  slot              text lang
9119772   420028   490.14117     1     БЛЯТСКИЙ ПИНГ   ru
9119773   420028  1658.75577     5             найСЪ   bg
9119774   420028  1711.74287     1          ЕЕЕЕЕЕЕЕ   bg
9119775   420028  2638.68807     1                ГГ   ru
9119776   420028  2678.02207     2       стойте суки   ru
...          ...         ...   ...               ...  ...
10259735  472872  1779.73033     2                gg   ru
10259736  472872  1783.94473     6       report doon   en
10259737  472872  1785.01503     6                 m   en
10259738  472873    78.85018     4     РЕПОРТ  ИНВОК   sr
10259739  472873   519.62908     4  репорт ивокер сф   ru

[1139958 rows x 5 columns], 'b9':            match        time  slot                         text lang
10259740  472873   527.22724     4                   2 хуеплета   bg
10259741  472873   651.99674     4               сука конченный   ru
10259742  472873   828.88689     4             все репорт инвок   ru
10259743  472873   942.92574     4               гг тима днарей   ru
10259744  472873   948.32434     9               ДА ИДИ НА ХЗУЙ   bg
...          ...         ...   ...                          ...  ...
11399708  525846   336.88443     5      sk mid need help from u   en
11399709  525846   537.76873     7               is it hurt sk?   en
11399710  525846   542.10099     7                               ja
11399711  525846   940.00383     7  damn double ult for 10hp :(   en
11399712  525846  1047.94413     3                         wait   en

[1139958 rows x 5 columns], 'b10':            match        time  ...                                       text lang
11399713  525846  1047.94413  ...                                   ragequit   it
11399714  525846  1259.12593  ...  i promise always solo chrono on you necro   en
11399715  525846  1259.12593  ...                         thats archon logic   en
11399716  525846  1259.12593  ...                                 i m archon   en
11399717  525846  1259.12593  ...                              play with you   en
...          ...         ...  ...                                        ...  ...
12539684  578838   207.98260  ...                                          ?   fr
12539685  578838   221.51260  ...                                WHAT HAPPEN   de
12539686  578838   618.84890  ...                                  wait guys   en
12539687  578838   618.84890  ...                                    2 mins    en
12539688  578838   618.84890  ...                                        LOL   en

[1139958 rows x 5 columns], 'b11':            match        time  slot                    text lang
12539689  578838   655.27336     2           he restart pc   en
12539690  578838   656.67300     2                he said    en
12539691  578838   657.60610     2                    wait   en
12539692  578838   666.03740     0                     fuc   ru
12539693  578838   666.03740     5                       ?   fr
...          ...         ...   ...                     ...  ...
13679659  631830  1997.61437     5  ganas sial tinker nioe   es
13679660  631830  2004.30387     8                  tu psl   fr
13679661  631830  2005.84247     7              yea hahaha   en
13679662  631830  2006.57827     8             ganas habis   gl
13679663  631830  2008.51827     5                    haha   de

[1139959 rows x 5 columns], 'b12':            match        time  slot                        text lang
13679664  631830  2011.59537     1                      ez win   hu
13679665  631830  2012.33117     1                      hahaha   de
13679666  631830  2015.67597     1                         END   en
13679667  631830  2029.52307     5  gyro paling acah dan kecoh   id
13679668  631830  2055.21067     8                          ty   fr
...          ...         ...   ...                         ...  ...
14819635  684247  2479.92372     2                      hahaha   de
14819636  684247  2484.33882     0                 hahah short   en
14819637  684247  2485.67662     2               nce crono but   en
14819638  684247  2486.01112     9                         nvm   en
14819639  684247  2488.08492     2                    hahahaha   de

[1139958 rows x 5 columns], 'b13':            match        time  slot             text lang
14819640  684247  2491.22892     8             lol    en
14819641  684247  2501.66442     2       crazy lion   en
14819642  684247  2504.60782     9  cant believe it   en
14819643  684247  2507.41732     2            hahha   fi
14819644  684247  2522.26802     8               xD   sv
...          ...         ...   ...              ...  ...
15959602  736671  2308.47450     9               ez   hu
15959603  736671  2311.68550     1               gg   ru
15959604  736671  2312.68890     9        recomend    en
15959605  736671  2315.09710     3               gg   ru
15959606  736672   298.19388     4  get cancer bane   en

[1139958 rows x 5 columns], 'b14':            match        time  slot          text lang
15959607  736672  1540.62383     0      nice man   en
15959608  736672  1541.89013     0      smurfing   en
15959609  736672  1661.26103     0    u dead sir   en
15959610  736672  1662.86063     0  stupid smurf   en
15959611  736672  2045.99483     0         srsly   en
...          ...         ...   ...           ...  ...
17099567  788834   336.08464     5             K   en
17099568  788834   337.08440     5        +P)KLH   en
17099569  788834   605.58550     5            uu   es
17099570  788834   607.58500     5            гг   ru
17099571  788834   609.71780     5           афк   bg

[1139959 rows x 5 columns], 'b15':            match        time  slot                                   text lang
17099572  788834   754.48250     6            ИДИТЕ НА ХУЙ СО СВОЕЙ ДОТОЙ   ru
17099573  788834   761.01420     6  С 1-054232345623462346 ГЕРОЕВ НА ТОПЕ   ru
17099574  788834   768.21240     6                  ВСТАЛИ И НА ХУЙ ПОШЛИ   ru
17099575  788834   778.67660     6                 БЛЯДЬ, СЕЙЧАС ЖЕ НАХУЙ   ru
17099576  788834   787.07450     6                               ЗАМАНАЛИ   ru
...          ...         ...   ...                                    ...  ...
18239535  841907  3240.37547     9                               изи свен   bg
18239536  841907  3241.64647     2                             ебать даун   ru
18239537  841907  3245.25867     2                            репорт свен   ru
18239538  841907  3250.17547     0                                внатуре   ru
18239539  841907  3250.30927     9                                    изи   bg

[1139958 rows x 5 columns], 'b16':            match        time  slot        text lang
18239540  841907  3253.05187     9  потно в лп   bg
18239541  841908  1074.13770     2         end   en
18239542  841908  1300.08260     2      ez rax   hu
18239543  841908  2618.22620     3          gg   ru
18239544  841908  2667.46060     5       gg wp   en
...          ...         ...   ...         ...  ...
19379502  894551  2570.87604     6        Ggwp   en
19379503  894551  2576.49524     8           )   es
19379504  894552  1825.51550     5          wp   en
19379505  894552  2043.12330     1   }push end   en
19379506  894552  2049.47830     1  heart naix   ca

[1139958 rows x 5 columns], 'b17':            match       time  slot                             text lang
19379507  894552  2129.8186     1  low shit tier timber weaver end   en
19379508  894552  2147.2112     1              6% spell amp timber   en
19379509  894552  2152.8972     1                       100 damage   en
19379510  894552  2155.9745     1                           15 str   de
19379511  894552  2163.3328     1    every thing he doing is right   en
...          ...        ...   ...                              ...  ...
20519475  947473  3358.9189     6                             zZZZ   en
20519476  947473  3373.3012     4                                )   es
20519477  947473  3388.4863     7                             8/13   en
20519478  947473  3389.8910     7                             5/14   en
20519479  947473  3391.5968     7                             lmao   en

[1139958 rows x 5 columns], 'b18':            match        time  slot              text lang
20519480  947473  3393.77090     6        here comes   en
20519481  947473  3395.64400     6    the statswhore   en
20519482  947473  3396.91490     6           useless   vi
20519483  947473  3397.45010     6               :DD   en
20519484  947473  3397.65080     8  fuck you bristle   en
...          ...         ...   ...               ...  ...
21659443  999999   584.41162     2                 ?   fr
21659444  999999   974.04976     0        sec please   en
21659445  999999  1708.53706     5                 ?   fr
21659446  999999  2674.38856     3          ggwp lol   en
21659447  999999  2831.95866     9                ez   hu

[1139958 rows x 5 columns]}

In [ ]:
# for b in batches:
#   batches[str(b)]['lang'] = batches[str(b)]['text'].apply(model.predict)
#   print(batches[str(b)])

In [ ]:
# Getting only the english rows becuz im not a polyglot :(
def get_en():
  for b in batches:
    batches[str(b)] = batches[str(b)][batches[str(b)]['lang'] == 'en']
get_en()

In [ ]:
batches['b0'].shape[0]

363604

In [ ]:
# total = 0
# for b in batches:
#   total +=batches[str(b)].shape[0]
# print(total)

6921688

In [ ]:
data = pd.concat(batches)

In [ ]:
data.shape

(6921688, 5)

In [ ]:
data

               match        time  slot                                text lang
b0  8              0  1808.40822     9                                100%   en
    9              1  -131.14018     0              twitch.tv/rage_channel   en
    10             1  -121.60481     0  https://www.twitch.tv/rage_channel   en
    18             1   700.72893     0  https://www.twitch.tv/rage_channel   en
    19             1   702.99503     0  https://www.twitch.tv/rage_channel   en
...              ...         ...   ...                                 ...  ...
b18 21659433  999998   917.21927     8                        damn you!!!!   en
    21659435  999998  1709.49237     6                              baited   en
    21659436  999998  1765.54537     7                                lmao   en
    21659444  999999   974.04976     0                          sec please   en
    21659446  999999  2674.38856     3                            ggwp lol   en

[6921688 rows x 5 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
data.to_csv('eng_chat.csv') 
!cp eng_chat.csv "drive/My Drive/CSVs"