<a href="https://colab.research.google.com/github/Sockcave/GGWP/blob/main/dota2_feature_sentiment_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Feature Engineering**##
Early stages.

In [1]:
pip install boto3

Collecting boto3
  Downloading https://files.pythonhosted.org/packages/b2/f7/a0f1e13222e10d426afbc50fc7de3c65acafa6ff4cc790e71e649d4cd9ad/boto3-1.16.15-py2.py3-none-any.whl (129kB)
     |████████████████████████████████| 133kB 2.6MB/s
Collecting jmespath<1.0.0,>=0.7.1
  Downloading https://files.pythonhosted.org/packages/07/cb/5f001272b6faeb23c1c9e0acc04d48eaaf5c862c17709d20e3469c6e0139/jmespath-0.10.0-py2.py3-none-any.whl
Collecting botocore<1.20.0,>=1.19.15
  Downloading https://files.pythonhosted.org/packages/f4/1d/bed1bb297abadc387d8328d88ac7612daa2d9f716bd83ec096ceb4a9f8bb/botocore-1.19.15-py2.py3-none-any.whl (6.7MB)
     |████████████████████████████████| 6.7MB 4.3MB/s
Collecting s3transfer<0.4.0,>=0.3.0
  Downloading https://files.pythonhosted.org/packages/69/79/e6afb3d8b0b4e96cefbdc690f741d7dd24547ff1f94240c997a26fa908d3/s3transfer-0.3.3-py2.py3-none-any.whl (69kB)
     |████████████████████████████████| 71kB 6.0MB/s
Collecting urllib3<1.26,>=1.25.4; python_version != "3.4"
  Downloading https://files.pythonhosted.org/packages/56/aa/4ef5aa67a9a62505db124a5cb5262332d1d4153462eb8fd89c9fa41e5d92/urllib3-1.25.11-py2.py3-none-any.whl (127kB)
     |████████████████████████████████| 133kB 47.1MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.20.0,>=1.19.15->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.20.0,>=1.19.15->boto3) (1.15.0)
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: jmespath, urllib3, botocore, s3transfer, boto3
  Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
Successfully installed boto3-1.16.15 botocore-1.19.15 jmespath-0.10.0 s3transfer-0.3.3 urllib3-1.25.11

In [13]:
pip install -U textblob

Requirement already up-to-date: textblob in /usr/local/lib/python3.6/dist-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from textblob) (3.2.5)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->textblob) (1.15.0)

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from textblob import TextBlob

In [8]:
eng = pd.read_csv('eng_chat.csv')
eng = eng.iloc[:, 2:6]
eng.head()

   match        time  slot                                text
0      0  1808.40822     9                                100%
1      1  -131.14018     0              twitch.tv/rage_channel
2      1  -121.60481     0  https://www.twitch.tv/rage_channel
3      1   700.72893     0  https://www.twitch.tv/rage_channel
4      1   702.99503     0  https://www.twitch.tv/rage_channel

##**Testing Features**##

In [10]:
# Text Length as Feature
eng['text length'] = [len(text) for text in eng['text']]
eng.head()

   match        time  slot                                text  text length
0      0  1808.40822     9                                100%            4
1      1  -131.14018     0              twitch.tv/rage_channel           22
2      1  -121.60481     0  https://www.twitch.tv/rage_channel           34
3      1   700.72893     0  https://www.twitch.tv/rage_channel           34
4      1   702.99503     0  https://www.twitch.tv/rage_channel           34

##**Polarity and Subjectivity**##
* Using TextBlob rn
* Sentiment Analysis (Opinion Mining): technique that detects polarity (positive, neutral, or negative)
* Subjectivity refers to the extent the text is stating a fact or an opinion/personal feeling.

In [18]:
eng['polarity'] = eng['text'].apply(lambda x: TextBlob(x).sentiment[0])
eng['subjectivity'] = eng['text'].apply(lambda x: TextBlob(x).sentiment[1])
display(eng.sort_values('polarity', ascending=False).head(10), 
        eng.sort_values('polarity', ascending=False).tail(10))

          match        time  slot  ... text length  polarity  subjectivity
4888913  705886  1304.94807     1  ...          16       1.0           1.0
2365847  340455  2983.59193     0  ...          22       1.0           1.0
4393711  634746  1276.32165     1  ...          17       1.0           0.9
396691    57291  2148.48160     7  ...          10       1.0           1.0
1148585  165852  2819.14568     9  ...           2       1.0           1.0
2366020  340482  2032.54523     9  ...          11       1.0           0.3
2365997  340478  2240.07347     5  ...          34       1.0           1.0
4736492  684068  1303.38177     2  ...          49       1.0           1.0
5092926  734987  2123.57270     2  ...          28       1.0           1.0
2365912  340462  1057.64180     4  ...           4       1.0           0.3

[10 rows x 7 columns]

          match        time  slot  ... text length  polarity  subjectivity
6523030  942480  1050.14355     4  ...          12      -1.0           1.0
4879919  704510     4.53223     1  ...          41      -1.0           1.0
2826402  406717   782.41997     8  ...           5      -1.0           1.0
3401404  490597   -23.62755     1  ...          42      -1.0           1.0
1703378  245487  1622.50377     6  ...          66      -1.0           1.0
4358132  629710   -25.46045     0  ...          14      -1.0           1.0
6051254  874048  2587.34950     2  ...          14      -1.0           1.0
6460559  933379  2180.66662     2  ...         103      -1.0           1.0
1011863  145956  3329.44507     9  ...          10      -1.0           1.0
124448    18023  1580.61408     0  ...          18      -1.0           1.0

[10 rows x 7 columns]

In [24]:
eng_with_features_one = eng.copy(deep = True)

In [25]:
eng_with_features_one

          match        time  slot  ... text length  polarity  subjectivity
0             0  1808.40822     9  ...           4       0.0           0.0
1             1  -131.14018     0  ...          22       0.0           0.0
2             1  -121.60481     0  ...          34       0.0           0.0
3             1   700.72893     0  ...          34       0.0           0.0
4             1   702.99503     0  ...          34       0.0           0.0
...         ...         ...   ...  ...         ...       ...           ...
6921683  999998   917.21927     8  ...          12       0.0           0.0
6921684  999998  1709.49237     6  ...           6       0.0           0.0
6921685  999998  1765.54537     7  ...           4       0.6           1.0
6921686  999999   974.04976     0  ...          10      -0.1           0.6
6921687  999999  2674.38856     3  ...           8       0.8           0.7

[6921688 rows x 7 columns]