<a href="https://colab.research.google.com/github/Sockcave/GGWP/blob/main/eng_chat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install boto3

Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (1.16.6)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3) (0.3.3)
Requirement already satisfied: botocore<1.20.0,>=1.19.6 in /usr/local/lib/python3.6/dist-packages (from boto3) (1.19.6)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3) (0.10.0)
Requirement already satisfied: urllib3<1.26,>=1.25.4; python_version != "3.4" in /usr/local/lib/python3.6/dist-packages (from botocore<1.20.0,>=1.19.6->boto3) (1.25.11)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.20.0,>=1.19.6->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.20.0,>=1.19.6->boto3) (1.15.0)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [ ]:
from collections import Counter

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
#Loading data into colab from AWS
import boto3

BUCKET_NAME = 'ggwp-data' # replace with your bucket name

In [ ]:
data = pd.read_csv('eng_chat.csv')
data.head()

  Unnamed: 0  Unnamed: 1  match  ...  slot                                text lang
0         b0           8      0  ...     9                                100%   en
1         b0           9      1  ...     0              twitch.tv/rage_channel   en
2         b0          10      1  ...     0  https://www.twitch.tv/rage_channel   en
3         b0          18      1  ...     0  https://www.twitch.tv/rage_channel   en
4         b0          19      1  ...     0  https://www.twitch.tv/rage_channel   en

[5 rows x 7 columns]

In [ ]:
data.shape

(6921688, 7)

In [ ]:
data = data.iloc[:, 2:6]

In [ ]:
data.head()

   match        time  slot                                text
0      0  1808.40822     9                                100%
1      1  -131.14018     0              twitch.tv/rage_channel
2      1  -121.60481     0  https://www.twitch.tv/rage_channel
3      1   700.72893     0  https://www.twitch.tv/rage_channel
4      1   702.99503     0  https://www.twitch.tv/rage_channel

In [ ]:
data.shape

(6921688, 4)

In [ ]:
data[data['text'].str.contains('fuck')]

          match        time  slot                                       text
24            6   241.44110     1                       fucking reported axe
71            9  2043.83972     3                                    fuckING
98           13   722.92344     0                             fuckkk youuuuu
160          30   -19.06202     1                               fuck off lol
184          32  1369.39897     5           yuou just fuck your ulti as hell
...         ...         ...   ...                                        ...
6921426  999952  1121.59276     5                         noob as fuck again
6921447  999958  2155.05888     5  guys i'm just a sky with a fucking cloack
6921538  999977  1375.63080     8                  fuck this system honestly
6921592  999980  1055.46878     9                                    fuck up
6921678  999997  1626.96943     3              Shut the fuck up russian cunt

[143347 rows x 4 columns]

In [ ]:
Counter(data['text'][184]).most_common

In [ ]:
data['text'][184]

'yuou just fuck your ulti as hell'

In [ ]:
data[data['text'].str.contains('roblox')]

          match  ...                                               text
233027    33844  ...                                     go play roblox
620126    89311  ...                     uninstall dota and play roblox
721011   103837  ...                               *roblox death noise*
721013   103837  ...                     the roblox noised defined that
846456   121974  ...                                 be my roblox bride
1350837  194744  ...              dont give me that roblox death noise
1350893  194756  ...                                   then play roblox
1516027  218594  ...                      he got b a n n e d  on roblox
1516029  218594  ...  https://www.roblox.com/Membership/NotApproved....
1655375  238564  ...                                  sabay laro roblox
1704413  245624  ...                               go back to roblox ok
1989817  286568  ...                  > playing dota when roblox exists
3223757  464426  ...                                        play roblox
3441368  496489  ...                                          or roblox
3444501  496928  ...                                go play some roblox
3444505  496928  ...                                  no luna in roblox
3444508  496928  ...                                  no luna in roblox
3444524  496928  ...                               i mma go play roblox
3444526  496928  ...                                     roblox no luna
3444529  496928  ...                                        roblox time
3444532  496928  ...                                        roblox time
3477358  501763  ...                                          roblox :d
3480198  502234  ...                  roblox version of wii theme trust
3480202  502234  ...       the roblox sound seriously adds some texture
3645142  525956  ...  man you were fed by a shit sniper . chill and ...
3876389  559568  ...                          roblox nalang laruin moes
4082551  589500  ...          get that icarly roblox 1080p 120 fps shit
4082552  589500  ...                      get bare babes on roblox mate
4082553  589500  ...                                love me some roblox
4134970  597094  ...                                Do you have roblox?
4223158  610142  ...                                     go play roblox
4223159  610142  ...                                         roblox ftw
4223161  610142  ...                                     go roblox dude
4489781  648800  ...                                             roblox
4694014  678257  ...                                             roblox
4763462  687786  ...                                      roblox later?
4763469  687786  ...                     ad me on roblox bigdickluver69
4989014  720097  ...                                  go back to roblox
5844944  843545  ...                           play roblox motherfckers
5954210  859607  ...  looking for roblox memebers to join RobloRaids...
6389606  923110  ...                            nag roblox nlng tana ka

[41 rows x 4 columns]

In [ ]:
data[data['text'].str.contains('chinese')]

          match  ...                                               text
18965      2869  ...                                       chinese cunt
34830      4994  ...  russian and chinese, you sure you're on the ri...
54576      7741  ...                                    chinese number1
61830      8820  ...  hear his voice early, not chinese, dont know w...
67177      9612  ...                                  no chinese please
...         ...  ...                                                ...
6890902  995534  ...                                 chinese small dick
6897658  996501  ...             i have russians and chinese in my team
6899609  996784  ...                           actually that is chinese
6908004  997978  ...                                    must be chinese
6909536  998223  ...                             are you reall chinese?

[946 rows x 4 columns]

In [ ]:
data[data['text'].str.contains('chigga')]

          match  ...                                             text
34923      5008  ...                    rich chigga - who that be #np
455244    65869  ...                                      rich chigga
584779    84393  ...                     in asian they call us chigga
584804    84393  ...                              they call me chigga
584806    84393  ...                                       chigga sir
762350   109977  ...                                   oi rich chigga
911046   131387  ...                                        reachigga
1125967  162582  ...                                      chigga calm
1131677  163447  ...                               kachigga my niggas
1271013  183403  ...                                           chigga
1324478  191018  ...                         what about rich chiggaxd
1324479  191018  ...                           rich chigga is alright
1617575  233129  ...                                           chigga
1666598  240148  ...            who listened to rich chiggas new song
1912369  275270  ...                             chiga chigga bow wow
2023754  291494  ...                                      rich chigga
2023755  291494  ...                                       chigga boy
2130959  306602  ...                                      rich chigga
2333319  335815  ...                                      wssp chigga
2730188  393051  ...  my boy rich chigga just released new song baby
3550000  512266  ...                                    whatup chigga
4524865  653864  ...                          Rich chigga rich chigga
4524872  653864  ...                                      Rich chigga
4995754  721052  ...                                   Rich chiggaaaa
5513703  795024  ...                                           chigga
5663550  816691  ...                               i hate rich chigga
5790988  835559  ...                                kachigga my nigga
6123307  884459  ...                                     rich chiggas
6797335  981812  ...                  please help me to report chigga

[29 rows x 4 columns]