<a href="https://colab.research.google.com/github/Sockcave/GGWP/blob/main/eng_chat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install boto3

Collecting boto3
  Downloading https://files.pythonhosted.org/packages/83/c2/1d4ccb8d0772b37d2f5d14e784babbf6a51aca6dd2786da842cd912e98b4/boto3-1.16.5.tar.gz (97kB)
     |████████████████████████████████| 102kB 2.4MB/s
Collecting botocore<1.20.0,>=1.19.5
  Downloading https://files.pythonhosted.org/packages/59/91/c3ac686983570cbaf01063956e51ebd547d2e496f3e33052b7a9102c9a75/botocore-1.19.5-py2.py3-none-any.whl (6.7MB)
     |████████████████████████████████| 6.7MB 6.4MB/s
Collecting jmespath<1.0.0,>=0.7.1
  Downloading https://files.pythonhosted.org/packages/07/cb/5f001272b6faeb23c1c9e0acc04d48eaaf5c862c17709d20e3469c6e0139/jmespath-0.10.0-py2.py3-none-any.whl
Collecting s3transfer<0.4.0,>=0.3.0
  Downloading https://files.pythonhosted.org/packages/69/79/e6afb3d8b0b4e96cefbdc690f741d7dd24547ff1f94240c997a26fa908d3/s3transfer-0.3.3-py2.py3-none-any.whl (69kB)
     |████████████████████████████████| 71kB 6.6MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.20.0,>=1.19.5->boto3) (2.8.1)
Collecting urllib3<1.26,>=1.25.4; python_version != "3.4"
  Downloading https://files.pythonhosted.org/packages/56/aa/4ef5aa67a9a62505db124a5cb5262332d1d4153462eb8fd89c9fa41e5d92/urllib3-1.25.11-py2.py3-none-any.whl (127kB)
     |████████████████████████████████| 133kB 40.9MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.20.0,>=1.19.5->boto3) (1.15.0)
Building wheels for collected packages: boto3
  Building wheel for boto3 (setup.py) ... done
  Created wheel for boto3: filename=boto3-1.16.5-py2.py3-none-any.whl size=127848 sha256=15a840aeb230063925e37a5471996268335d19d798abc14c904d21fd7d462694
  Stored in directory: /root/.cache/pip/wheels/d7/97/d4/f4d6f53ae90487aff4f41a7f8f281ae114d5b2f0f64928f6e1
Successfully built boto3
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: jmespath, urllib3, botocore, s3transfer, boto3
  Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
Successfully installed boto3-1.16.5 botocore-1.19.5 jmespath-0.10.0 s3transfer-0.3.3 urllib3-1.25.11

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [3]:
from collections import Counter

In [4]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [5]:
#Loading data into colab from AWS
import boto3

BUCKET_NAME = 'ggwp-data' # replace with your bucket name

# enter authentication credentials
s3 = boto3.resource('s3', aws_access_key_id = 'AKIAIOCEVWN4HAEXBRAQ', 
                          aws_secret_access_key= 'sSRIl0sMwoNcc5yISZiaFbO3ZbUPSS0yfXuhgqF7')

KEY = 'eng_chat.csv' 


try:
  # we are trying to download training dataset from s3 with name `my-training-data.csv` 
  # to colab dir with name `training.csv`
  s3.Bucket(BUCKET_NAME).download_file(KEY, 'eng_chat.csv')

except botocore.exceptions.ClientError as e:
  if e.response['Error']['Code'] == "404":
    print("The object does not exist.")
  else:
    raise

In [6]:
data = pd.read_csv('eng_chat.csv')
data.head()

  Unnamed: 0  Unnamed: 1  match  ...  slot                                text lang
0         b0           8      0  ...     9                                100%   en
1         b0           9      1  ...     0              twitch.tv/rage_channel   en
2         b0          10      1  ...     0  https://www.twitch.tv/rage_channel   en
3         b0          18      1  ...     0  https://www.twitch.tv/rage_channel   en
4         b0          19      1  ...     0  https://www.twitch.tv/rage_channel   en

[5 rows x 7 columns]

In [7]:
data.shape

(6921688, 7)

In [8]:
data = data.iloc[:, 2:6]

In [9]:
data.head()

   match        time  slot                                text
0      0  1808.40822     9                                100%
1      1  -131.14018     0              twitch.tv/rage_channel
2      1  -121.60481     0  https://www.twitch.tv/rage_channel
3      1   700.72893     0  https://www.twitch.tv/rage_channel
4      1   702.99503     0  https://www.twitch.tv/rage_channel

In [10]:
data.shape

(6921688, 4)

In [11]:
data[data['text'].str.contains('fuck')]

          match        time  slot                                       text
24            6   241.44110     1                       fucking reported axe
71            9  2043.83972     3                                    fuckING
98           13   722.92344     0                             fuckkk youuuuu
160          30   -19.06202     1                               fuck off lol
184          32  1369.39897     5           yuou just fuck your ulti as hell
...         ...         ...   ...                                        ...
6921426  999952  1121.59276     5                         noob as fuck again
6921447  999958  2155.05888     5  guys i'm just a sky with a fucking cloack
6921538  999977  1375.63080     8                  fuck this system honestly
6921592  999980  1055.46878     9                                    fuck up
6921678  999997  1626.96943     3              Shut the fuck up russian cunt

[143347 rows x 4 columns]

In [12]:
Counter(data['text'][184]).most_common

In [13]:
data['text'][184]

'yuou just fuck your ulti as hell'

In [14]:
data[data['text'].str.contains('roblox')]

          match  ...                                               text
233027    33844  ...                                     go play roblox
620126    89311  ...                     uninstall dota and play roblox
721011   103837  ...                               *roblox death noise*
721013   103837  ...                     the roblox noised defined that
846456   121974  ...                                 be my roblox bride
1350837  194744  ...              dont give me that roblox death noise
1350893  194756  ...                                   then play roblox
1516027  218594  ...                      he got b a n n e d  on roblox
1516029  218594  ...  https://www.roblox.com/Membership/NotApproved....
1655375  238564  ...                                  sabay laro roblox
1704413  245624  ...                               go back to roblox ok
1989817  286568  ...                  > playing dota when roblox exists
3223757  464426  ...                                        play roblox
3441368  496489  ...                                          or roblox
3444501  496928  ...                                go play some roblox
3444505  496928  ...                                  no luna in roblox
3444508  496928  ...                                  no luna in roblox
3444524  496928  ...                               i mma go play roblox
3444526  496928  ...                                     roblox no luna
3444529  496928  ...                                        roblox time
3444532  496928  ...                                        roblox time
3477358  501763  ...                                          roblox :d
3480198  502234  ...                  roblox version of wii theme trust
3480202  502234  ...       the roblox sound seriously adds some texture
3645142  525956  ...  man you were fed by a shit sniper . chill and ...
3876389  559568  ...                          roblox nalang laruin moes
4082551  589500  ...          get that icarly roblox 1080p 120 fps shit
4082552  589500  ...                      get bare babes on roblox mate
4082553  589500  ...                                love me some roblox
4134970  597094  ...                                Do you have roblox?
4223158  610142  ...                                     go play roblox
4223159  610142  ...                                         roblox ftw
4223161  610142  ...                                     go roblox dude
4489781  648800  ...                                             roblox
4694014  678257  ...                                             roblox
4763462  687786  ...                                      roblox later?
4763469  687786  ...                     ad me on roblox bigdickluver69
4989014  720097  ...                                  go back to roblox
5844944  843545  ...                           play roblox motherfckers
5954210  859607  ...  looking for roblox memebers to join RobloRaids...
6389606  923110  ...                            nag roblox nlng tana ka

[41 rows x 4 columns]

In [15]:
data[data['text'].str.contains('chinese')]

          match  ...                                               text
18965      2869  ...                                       chinese cunt
34830      4994  ...  russian and chinese, you sure you're on the ri...
54576      7741  ...                                    chinese number1
61830      8820  ...  hear his voice early, not chinese, dont know w...
67177      9612  ...                                  no chinese please
...         ...  ...                                                ...
6890902  995534  ...                                 chinese small dick
6897658  996501  ...             i have russians and chinese in my team
6899609  996784  ...                           actually that is chinese
6908004  997978  ...                                    must be chinese
6909536  998223  ...                             are you reall chinese?

[946 rows x 4 columns]