<a href="https://colab.research.google.com/github/Sockcave/GGWP/blob/main/Links_removal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install boto3

Collecting boto3
  Downloading https://files.pythonhosted.org/packages/60/31/c531a0cacd4f080e2a8b359248c2f52f4396fd5ae91a4eb7ded363c4f788/boto3-1.16.21-py2.py3-none-any.whl (129kB)
     |████████████████████████████████| 133kB 7.1MB/s
Collecting botocore<1.20.0,>=1.19.21
  Downloading https://files.pythonhosted.org/packages/c0/e7/bbf72c24d960735cf32503651941aee27daabb9c001dc06c0b8acb4db576/botocore-1.19.21-py2.py3-none-any.whl (6.8MB)
     |████████████████████████████████| 6.8MB 17.9MB/s
Collecting jmespath<1.0.0,>=0.7.1
  Downloading https://files.pythonhosted.org/packages/07/cb/5f001272b6faeb23c1c9e0acc04d48eaaf5c862c17709d20e3469c6e0139/jmespath-0.10.0-py2.py3-none-any.whl
Collecting s3transfer<0.4.0,>=0.3.0
  Downloading https://files.pythonhosted.org/packages/69/79/e6afb3d8b0b4e96cefbdc690f741d7dd24547ff1f94240c997a26fa908d3/s3transfer-0.3.3-py2.py3-none-any.whl (69kB)
     |████████████████████████████████| 71kB 7.1MB/s
Collecting urllib3<1.27,>=1.25.4; python_version != "3.4"
  Downloading https://files.pythonhosted.org/packages/f5/71/45d36a8df68f3ebb098d6861b2c017f3d094538c0fb98fa61d4dc43e69b9/urllib3-1.26.2-py2.py3-none-any.whl (136kB)
     |████████████████████████████████| 143kB 43.4MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.20.0,>=1.19.21->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.20.0,>=1.19.21->boto3) (1.15.0)
ERROR: requests 2.23.0 has requirement urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you'll have urllib3 1.26.2 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
Successfully installed boto3-1.16.21 botocore-1.19.21 jmespath-0.10.0 s3transfer-0.3.3 urllib3-1.26.2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from textblob import TextBlob
import re

In [31]:
data = pd.read_csv('eng_chat_features_one.csv')
data = data.iloc[:, 2:8]
data.head()

         time  slot  ... polarity  subjectivity
0  1808.40822     9  ...      0.0           0.0
1  -131.14018     0  ...      0.0           0.0
2  -121.60481     0  ...      0.0           0.0
3   700.72893     0  ...      0.0           0.0
4   702.99503     0  ...      0.0           0.0

[5 rows x 6 columns]

##**Dropping links, urls, websites**##
Using reg-ex to extract those messages with links, urls, websites.

In [32]:
# dropping the links and urls with reg-ex
link_reg = r'(https://)|(.tv/)|(^www.[\w]+\.[\w]{3,3}$)'

In [33]:
#Some test cases I wrote up.
if re.search(link_reg, 'https://www.twitch.tv/rage_channel'):
  print('Match 1 found')
if re.search(link_reg, 'twitch.tv/rage_channel'):
  print('Match 2 found')
if re.search(link_reg, 'www.youtube.com'):
  print('Match 3 found')  
if re.search(link_reg, '.gov'):
  print('Match 4 found')
if re.search(link_reg, 'www.who.int'):
  print('Match 5 found')
if re.search(link_reg, 'hi mom'):
  print('Match 6 found')
if re.search(link_reg, 'gg no re.'):
  print('Match 7 found')
if re.search(link_reg, 'come at me bro.'):
  print('Match 8 found')
if re.search(link_reg, 'come at me bro!'):
  print('Match 9 found')

Match 1 found
Match 2 found
Match 3 found
Match 5 found

In [34]:
df2 = data.copy(deep = True) # making a copy to use

In [35]:
#Making sure we only have links, urls, and websites in our matched rows
site_data = df2[df2['text'].str.contains(pattern)== True] 
site_data

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

               time  slot  ... polarity  subjectivity
1        -131.14018     0  ...      0.0           0.0
2        -121.60481     0  ...      0.0           0.0
3         700.72893     0  ...      0.0           0.0
4         702.99503     0  ...      0.0           0.0
5         703.59488     0  ...      0.0           0.0
...             ...   ...  ...      ...           ...
6909221   584.09074     2  ...      0.0           0.0
6911305   934.63850     6  ...      0.0           0.0
6911306  1113.06160     6  ...      0.0           0.0
6915660   912.44390     8  ...      0.0           0.0
6920497  1325.97618     6  ...      0.0           0.0

[5480 rows x 6 columns]

In [36]:
#removed the links and urls. Converted to lowercase
data = data[data['text'].str.contains(link_reg)!= True] 
data['text'] = data['text'].str.lower()
data

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

               time  slot  ... polarity  subjectivity
0        1808.40822     9  ...      0.0           0.0
7        1238.43090     6  ...      0.0           0.0
8        1248.42850     0  ...      0.0           0.0
9        1559.05260     0  ...      0.0           0.0
10       1563.18490     0  ...      0.2           0.6
...             ...   ...  ...      ...           ...
6921683   917.21927     8  ...      0.0           0.0
6921684  1709.49237     6  ...      0.0           0.0
6921685  1765.54537     7  ...      0.6           1.0
6921686   974.04976     0  ...     -0.1           0.6
6921687  2674.38856     3  ...      0.8           0.7

[6916208 rows x 6 columns]

In [41]:
eng_with_features_link = data.copy(deep = True)
eng_with_features_link.head()

          time  slot              text  text length  polarity  subjectivity
0   1808.40822     9              100%            4       0.0           0.0
7   1238.43090     6             carry            5       0.0           0.0
8   1248.42850     0           yes dog            7       0.0           0.0
9   1559.05260     0             yeah             5       0.0           0.0
10  1563.18490     0  fast and furious           16       0.2           0.6